<ion-header>


  <ion-toolbar color="orange">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reportar situación <ion-icon name="alert-circle" class="title-icon"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="mb-2">

  <!--TÍTULO-->
  <ion-item>
    <ion-label>Título</ion-label>
    <ion-input [(ngModel)]="Titulo" type="text"></ion-input>
  </ion-item>

  <!--DESCRIPCIÓN-->
  <ion-item>
    <ion-label>Descripción</ion-label>
    <ion-input [(ngModel)]="Descripcion" type="text"></ion-input>
  </ion-item>

  <!--FOTO-->
  <ion-item>
    <ion-label>Foto</ion-label>


    <ion-button fill="clear" expand="full" color="light" (click)="selectImage()">

      <ion-icon slot="start" name="camera"></ion-icon>

    </ion-button>

  </ion-item>

  <!--LATITUD-->
  <ion-item>
    <ion-label>Latitud</ion-label>
    <ion-input [(ngModel)]="Latitud" type="number"></ion-input>
  </ion-item>

  <!--LONGITUD-->
  <ion-item>
    <ion-label>Longitud</ion-label>
    <ion-input [(ngModel)]="Longitud" type="number"></ion-input>
  </ion-item>

  <!--BOTON-->
  <div class="div-button ion-text-center">
    <ion-button shape="round" (click)="ReportSituation()" color="orange" class="mb-2">
      <ion-icon slot="start" name="save" color="light"></ion-icon>
      <ion-text color="light">Guardar</ion-text>
    </ion-button>
  </div>

</div>
</ion-content>