<ion-header>
  <ion-toolbar color="orange">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Miembros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card  *ngFor="let item of items">
    <ion-card-content>
      <ion-list>

        <ion-item>
          <ion-thumbnail slot="start" class="content-img-format">
            <img [src]='item.foto' />
          </ion-thumbnail>

          <div class="div-text-format">

            <ion-text class="text-format">{{item.nombre}}</ion-text>

          </div>

        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
