.content-img-format{
    height: 120px;
    width: 100px;
    padding: 5px;
    margin: 5px;
    right: 20px;
    position: relative;
}

.div-text-format{
    margin: 0px;
    width: 200px;
}

.text-format{
    font-size: 13px;
    font-weight: bold;
}