<ion-header>
  <ion-toolbar color="orange">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mb-2">

    <!--CEDULA-->
    <ion-item>
      <ion-label>Cédula</ion-label>
      <ion-input [(ngModel)]="Cedula" type="text" placeholder="000-0000000-0" [clearInput]="true"></ion-input>
    </ion-item>

    <!--CORREO ELECTRÓNICO-->
    <ion-item>
      <ion-label>Correo</ion-label>
      <ion-input [(ngModel)]="Correo" [clearInput]="true" type="email" placeholder="Ej: miguel@gmail.com"></ion-input>
    </ion-item>

    <!--BOTON-->
    <div class="mb-2 center">
      <ion-button shape="round" (click)="getPassword()" color="orange">
        <ion-icon class="icon-left" name="key"></ion-icon>
       <ion-text>Recuperar</ion-text>
      </ion-button>
    </div>

  </div>
</ion-content>
