
<ion-header>
  <ion-toolbar color="orange">

  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>

    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content>

  <div class="mb-2">

    <!--CEDULA-->
    <ion-item>
      <ion-label>Cédula</ion-label>
      <ion-input [(ngModel)]="Cedula" type="text" placeholder="000-0000000-0" [clearInput]="true"></ion-input>
    </ion-item>

    <!--CONTRASEÑA-->
    <ion-item>
      <ion-label>Contraseña</ion-label>
      <ion-input [(ngModel)]="Clave" [clearInput]="true" type="password"></ion-input>
    </ion-item>

    <div class="mb-2 center">
      <a [routerLink]="['/recuperar-contrasena']">¿Olvidaste tu contraseña? Pulse aquí</a>
    </div>

    <!--BOTON-->
    <div class="div-button" class="center mb-2">
      <ion-button shape="round" (click)="LogIn()" color="orange">
        <ion-icon class="icon-left" name="log-in" style="color: white;"></ion-icon>
       <ion-text style="color: white;">Iniciar</ion-text>
      </ion-button>
    </div>

  </div>

</ion-content>

<ion-footer>
  <ion-toolbar  color="orange">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/voluntario']">Registrarse</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>