<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title class="title-component">Quiero ser voluntario <ion-icon name="body"></ion-icon></ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="div-title">
    <ion-title class="ion-text-center">Formulario</ion-title>
  </div>

  <div>

    <!--CEDULA-->
    <ion-item>
      <ion-label>Cédula</ion-label>
      <ion-input [(ngModel)]="Cedula" type="text"  mask="***-*******-*" maxlength="13" placeholder="000-0000000-0" [clearInput]="true"></ion-input>
    </ion-item>

    <!--NOTA: [clearInput]="true" PERMITE HABILITAR UN BOTON EN FORMA DE CRUZ PARA ELIMINAR EL 
              CONTENIDO DEL INPUT.-->

    <!--Nombre-->
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input [(ngModel)]="Nombre" [clearInput]="true" placeholder="Ej: Miguel"></ion-input>
    </ion-item>

    <!--Apellido-->
    <ion-item>
      <ion-label>Apellido</ion-label>
      <ion-input [(ngModel)]="Apellido" [clearInput]="true" placeholder="Ej: Terrero"></ion-input>
    </ion-item>

    <!--CONTRASEÑA-->
    <ion-item>
      <ion-label>Contraseña</ion-label>
      <ion-input [(ngModel)]="Contrasena" [clearInput]="true" type="password"></ion-input>
    </ion-item>

    <!--CONFIRMAR CONTRASEÑA-->
    <ion-item>
      <ion-label>Confirmar contraseña</ion-label>
      <ion-input [(ngModel)]="ConfContrasena" [clearInput]="true" onchange="validationPassword()" type="password"></ion-input>
    </ion-item>

    <div *ngIf="validationPassword() === false" class="text-password">

      <ion-text color="danger">Las contraseñas no son iguales</ion-text>

    </div>

    <!--CORREO ELECTRÓNICO-->
    <ion-item>
      <ion-label>Correo</ion-label>
      <ion-input [(ngModel)]="Correo" [clearInput]="true" type="email" placeholder="Ej: miguel@gmail.com"></ion-input>
    </ion-item>

    <!--TELÉFONO-->
    <ion-item>
      <ion-label>Teléfono</ion-label>
      <ion-input [(ngModel)]="Telefono" [clearInput]="true" type="tel" mask="+1 (***) ***-****" maxlength="17" placeholder="+1 (888) 888-8888"></ion-input>
    </ion-item>

    <!--BOTON-->
    <div class="div-button">
      <ion-button shape="round" (click)="sendData()">
        <ion-icon class="icon-left" name="save"></ion-icon>
       <ion-text>Enviar</ion-text>
      </ion-button>
    </div>

  </div>

</ion-content>
