<ion-header>

  <ion-toolbar  color="orange">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--TOKEN-->
  <ion-item>
    <ion-label>Token</ion-label>
    <ion-input [(ngModel)]="Token" [clearInput]="true"></ion-input>
  </ion-item>

  <!--CONTRASEÑA NUEVA-->
  <ion-item>
    <ion-label>Contraseña anterior</ion-label>
    <ion-input [(ngModel)]="ContrasenaAnterior" [clearInput]="true" type="password"></ion-input>
  </ion-item>

  <!--CONTRASEÑA VIEJA-->
  <ion-item>
    <ion-label>Contraseña nueva</ion-label>
    <ion-input [(ngModel)]="ContrasenaNueva" [clearInput]="true" type="password"></ion-input>
  </ion-item>

  <br>
  <ion-button shape="round" (click)="ChangePassword()" color="orange" style="display:block; margin:auto;">
      Actualizar

  </ion-button>

</ion-content>
