<ion-header>

  <ion-toolbar  color="orange">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Modificar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="mb-2">
    <!--CONTRASEÑA NUEVA-->
  <ion-item>
    <ion-label>Contraseña anterior</ion-label>
    <ion-input [(ngModel)]="ContrasenaAnterior" [clearInput]="true" type="password"></ion-input>
  </ion-item>

  <!--CONTRASEÑA VIEJA-->
  <ion-item>
    <ion-label>Contraseña nueva</ion-label>
    <ion-input [(ngModel)]="ContrasenaNueva" [clearInput]="true" type="password"></ion-input>
  </ion-item>


  <div class="mb-2" style=" display: flex; justify-content: center;"> 
    
  <ion-button shape="round" (click)="ChangePassword()" color="orange">
    <ion-icon class="icon-left" name="log-in" style="color: white;"></ion-icon>
   <ion-text style="color: white;">Actualizar</ion-text>
  </ion-button>

  </div>

  </div>

</ion-content>
