.text-nombre{
    font-size: 12px;
}

.div-text-format{
    margin: 0px;
    width: 300px;
}

.foto-format{
    height: 80px;
}

.icon-format{
    position: relative;
    font-size: 25px;
    right: 15px;
    top: 2px;
    color: red;
    display:inline-block
}

.text-title{
    display:inline-block;
    font-size: 18px;
}

.text-format{
    font-size: 15px;
}

.formato-boton{
    margin: 0px auto;
    width: 170px;
}

.button-center{
    margin:0px auto 
}